<html>
    <head>
        <title>MP Netshoes</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">

            <div class="title">
                <h1>Configuration Manager MP</h1>
            </div>
            <div id="content">

                <a href="http://127.0.0.1:8777/"><button type="button" class="button">Restart</button></a>
                <a href="/publish"><button type="button" class="button">Publish</button></a>
                <br><br>

                <code><pre>{{YML}}</pre></code>

            </div>

        </div>

    </body>
</html>
